@import '~react-image-gallery/styles/css/image-gallery.css';

#root {
  font-family: 'Nanum Gothic', sans-serif;
}

/* .app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
} */

input.error {
  border-color: red;
}

.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}
